$bgc-mid: #667eea;
$bgc-mid--light: #839aff;
$bgc-dark: #764ba2;
$bgc-light: #f093fb;
$font-stack: "Lato", system-ui, -apple-system, sans-serif;
$font-title-sub: "Henny Penny", system-ui, -apple-system, sans-serif;
$text-color: #1c1425;
$title-sub-color: #120b1a;
