.logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2.5px;
}
.main_logo {
  font-size: 48px;
  letter-spacing: 4.8;
  margin-bottom: 11px;
}
.slogan {
  text-transform: capitalize;
  font-size: 22px;
  letter-spacing: 6.8px;
}
.hero_scroll_text {
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: 2.8px;
  margin-bottom: 2px;
}