@use "../abstracts/index" as a;

.footer {
  background-image: url('../../../assets/images/footer/footer_bg_img.png');
  position: relative;
  padding-bottom: 140px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: a.$accent-bgc1;
    background: linear-gradient(45deg, a.$accent-bgc1 0%, a.$accent-bgc2 100%);
    z-index: -1;
  }
}

.footer_content {
  width: 85%;
  max-width: 770px;
  margin: 0 auto;
}

.footer_credit {
  margin-bottom: 40px;
}

.footer_logo img {
  min-width: 241px;
  margin-bottom: 40px;
}

@include a.bp-devices(tablet) {
  .footer_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer_credit {
    margin-bottom: 0px;
  }
}

@include a.bp-devices(s-laptop) {
  .footer {
    padding-bottom: 230px;
  }
}

@include a.bp-devices(monitor4k) {
  .footer_logo img {
    min-width: 335px;
    margin-bottom: 70px;
  }

  .footer_content {
    max-width: 915px;
  }
}