$bgc: #fff;
$text-color: #544837;
$accent-color: #FF9900;
$light-blue: #BCD0E5;
$title-color: #2F281E;
$font-stack: "Poppins", sans-serif;
$feature-bgc1: #7752BE;
$feature-bgc2: #FAB005;
$feature-bgc3: #F03E3D;
$feature-bgc4: #4DADF7;