@use "../abstracts/index" as a;

h1, h2, h3, h4 {
  font-family: a.$font-title;
}
.hero_heading {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -0.8px;
  margin-bottom: 15px;
}
.hero_desc {
  font-size: 12px;
  line-height: 1.5;
}

@include a.bp-devices(tablet) {
  .hero_heading {
    font-size: 72px;
    letter-spacing: -1.6px;
    margin-bottom: 23px;
  }
  .hero_desc {
    font-size: 22px;
  }
}
@include a.bp-devices(l-laptop) {
  .hero_heading {
    font-size: 84px;
    letter-spacing: -2px;
    margin-bottom: 44px;
  }
}