@use '../abstracts/index' as a;

.flex_ls_tick {
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 440px;
}
.tick_icon_container {
  max-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  border-radius: 14px;
  background-color: a.$accent-color;
}
.tick_icon {
  font-size: 1.1em;
  color: #fff;
}