@use '../abstracts/index' as a;

.flex_ls_tick {
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 440px;
}
.tick_icon_container {
  max-width: 35px;
  padding: 12px 10px;
  border-radius: 14px;
  background-color: a.$accent-color;
}
.tick_icon {
  max-width: 16px;
}