.credit-card_bg {
  fill: #f0c41b;
}
.magnetic_stripe {
  fill: #806F5E;
}
.card-number-line {
  fill: #F9EAB0;
  rx: 7px;
  ry: 7px;
  height: 13px;
}
.card-nums {
  & .cnuml-small:nth-child(odd) {
    width: 20px;
  }
  & .cnuml-small:nth-child(even) {
    width: 30px;
  }
  & .cnuml-small:last-child {
    width: 13px;
  }
}