@use "../abstracts/index" as a;

.hero {
  background-image: url(../../../assets/images/hero_bg.jpg);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero_content {
  text-align: center;
  width: 100%;
  max-width: 90%;
  margin-bottom: 50px;
}
.hero_logo_wrapper {
  margin-bottom: 50px;
}
.hero_search {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 2px;
  background-color: a.$text-color;
}
.hero_scroll_wrapper {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px;
  cursor: pointer;

  &:hover .scroll_arrow_wrapper {
    transform: scaleY(1.3);
  }
}

@include a.bp-devices(tablet) {
  .hero_content {
    margin-bottom: 90px;
  }
}
@include a.bp-devices(s-laptop) {
  .hero_content {
    max-width: 650px;
    margin-bottom: 90px;
  }
}
@include a.bp-devices(l-laptop) {
  .hero_scroll_wrapper {
    bottom: 130px;
  }
}
@include a.bp-devices(monitor4k) {
  .hero_content {
    max-width: 50%;
  }
}