body {
  background-color: #fff;
  color: #2C4058;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
body:has(.nav--active) {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.bg_img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.separator::before {
  content: "";
  display: block;
  width: 100px;
  margin: 0 auto 30px;
  border: 1px solid #2C4058;
}

.separator--inverted::before {
  border-color: #fff;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1170px;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

img, picture, svg {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

button, input, select, textarea {
  font: inherit;
  line-height: inherit;
  margin: 0;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

input::placeholder {
  opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.section_title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 34px;
}

.section_title--inverted {
  color: #fff;
}

.section_title--main {
  text-align: center;
  margin-bottom: 40px;
}

.section_subtitle {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 7px;
}

.nav_cta {
  font-size: 24px;
  font-family: "Source Sans 3", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.hero_title {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 12px;
}

.hero_subtitle {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 20px;
}

.project_desc {
  font-size: 16px;
  line-height: 25px;
}

.loc_txt {
  color: #000;
  font-size: 14px;
  font-style: italic;
}

.news_card__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news_card__text {
  font-size: 14px;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news_card__author-info {
  font-family: "Montserrat", sans-serif;
}
.news_card__author-info > * {
  display: block;
}

.news_card__author-name {
  font-size: 16px;
  margin-bottom: 7px;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news_card__author-date {
  font-size: 12px;
  color: #55B7FF;
}

.contact__wrapper .section_title--main {
  margin-bottom: 50px;
}

@media screen and (min-width: 330px) {
  .hero_title {
    font-size: 26px;
    letter-spacing: 1.4px;
  }
}
@media screen and (min-width: 768px) {
  .section_title {
    font-size: 44px;
  }

  .section_title--main {
    margin-bottom: 90px;
  }

  .section_subtitle {
    font-size: 22px;
  }

  .hero_title {
    font-size: 46px;
  }

  .hero_subtitle {
    letter-spacing: 5.4px;
    margin-bottom: 0;
  }

  .project_desc {
    font-size: 18px;
    line-height: 30px;
  }

  .news_card__title {
    margin-bottom: 15px;
  }

  .news_card__author-name {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .news_card__author-date {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .nav_cta {
    font-size: 14px;
  }

  .hero_title {
    font-size: 58px;
  }

  .hero_subtitle {
    font-size: 16px;
  }

  .news_card__title {
    font-size: 22px;
  }

  .news_card__text {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .hero_title {
    font-size: 80px;
    letter-spacing: 8px;
    margin-bottom: 30px;
  }
}
.section-btn {
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #2C4058;
  transition: all 0.3s ease;
}
.section-btn:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid transparent;
}

.social-btn,
.hero_scroll_wrapper button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0.5px solid #fff;
  border-radius: 50%;
  text-align: center;
  transition: all 0.3s ease;
}
.social-btn:hover, .social-btn:active,
.hero_scroll_wrapper button:hover,
.hero_scroll_wrapper button:active {
  transform: scale(1.1);
  box-shadow: 0 5px 5px #2C4058;
}
.social-btn > i,
.hero_scroll_wrapper button > i {
  color: #fff;
  font-size: 15px;
}

.hero_scroll_wrapper button {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.project_card_btn {
  display: block;
  padding: 16px 41px 17px;
  margin: 0 auto 40px;
}

.gallery__btn {
  display: block;
  padding: 17px 57px;
  margin: 0 auto;
}

.contact__btn {
  padding: 20px 35px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .project_card_btn {
    margin: 0 0 60px;
  }
}
.slick-dots {
  position: absolute;
}
.slick-dots button {
  font-size: 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.slick-active button,
.slick-dots button:hover {
  background-color: #fff;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .slick-arrow {
    width: 30px;
    height: 30px;
    font-size: 13px;
  }
  .slick-arrow.slick-prev {
    left: -45px;
  }
  .slick-arrow.slick-next {
    right: -45px;
  }
}
@media screen and (min-width: 1440px) {
  .slick-arrow {
    width: 40px;
    height: 40px;
  }
  .slick-arrow.slick-prev {
    left: -60px;
  }
  .slick-arrow.slick-next {
    right: -60px;
  }
}
.hero {
  background-image: url("../../../assets/images/hero/hero_img.webp");
  min-height: 100vh;
  position: relative;
  margin-bottom: 55px;
}
.hero::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  background: #55B7FF;
  background: linear-gradient(45deg, #55B7FF 0%, #7E5AFF 100%);
}

.hero_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.header_logo {
  max-width: 170px;
  position: relative;
}

.header_nav_wrapper {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #55B7FF;
  background: linear-gradient(45deg, #55B7FF 0%, #7E5AFF 100%);
  z-index: 3;
}
.header_nav_wrapper.nav--active {
  transform: translateX(0);
}

.hamburger {
  background-color: transparent;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.hamburger::before,
.hamburger::after,
.hamburger .hamburger_line {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s ease;
}

.hamburger_wrapper.hamburger_wrapper--active {
  position: fixed;
  top: 30px;
  right: 15px;
  z-index: 11;
}

.hamburger.hamburger--active .hamburger_line {
  opacity: 0;
}

.hamburger.hamburger--active::before,
.hamburger.hamburger--active::after {
  position: absolute;
  top: 50%;
}

.hamburger.hamburger--active::before {
  transform: rotate(45deg);
}

.hamburger.hamburger--active::after {
  transform: rotate(-45deg);
}

.header_nav {
  position: absolute;
  left: 50%;
  top: 40%;
  width: 100%;
  transform: translate(-50%, -40%);
  text-align: center;
}
.header_nav li {
  position: relative;
  padding: 15px 0;
  cursor: pointer;
}

.social_wrapper {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero_text {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.hero_text .slick-dots li:not(:last-child) {
  margin-bottom: 15px;
}

.hero_scroll_wrapper {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .header_logo {
    max-width: 240px;
  }

  .hero_text .slick-dots {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    margin-bottom: 100px;
  }

  .header_logo {
    max-width: 210px;
  }

  .header_nav_wrapper {
    transform: translateX(0);
    position: static;
  }

  .header_nav_wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
    background: transparent;
  }

  .header_nav {
    position: static;
    transform: none;
  }
  .header_nav ul {
    display: flex;
    gap: 40px;
  }
  .header_nav li {
    padding: 0 0 0 25px;
    transition: all 0.3s ease;
  }
  .header_nav li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 9px;
    height: 9px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
  }
  .header_nav li:hover::before, .header_nav li:active::before {
    background-color: #fff;
  }

  .social_wrapper {
    position: static;
    transform: none;
  }

  .hamburger_wrapper {
    display: none;
  }

  .hero_text .slick-dots {
    right: 30px;
  }
  .hero_text .slick-dots li:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .hero_header {
    gap: 145px;
  }

  .header_nav_wrapper {
    gap: 110px;
  }

  .hero_text .slick-dots {
    right: 50px;
  }
}
.footer {
  min-height: 100vh;
  background-image: url("../../../assets/images/footer/footer_bg_img.jpg");
  position: relative;
}
.footer::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #55B7FF;
  background: linear-gradient(45deg, #55B7FF 0%, #7E5AFF 100%);
}

.projects {
  margin-bottom: 70px;
  padding-bottom: 20px;
}

.project_card_media {
  margin-bottom: 50px;
  box-shadow: -180px 0px 0px 15px #55B7FF;
}

.project_card_media--inverse {
  box-shadow: 180px 0px 0px 15px #7E5AFF;
}

.project_card_content {
  width: 100%;
}

.project_card_text {
  margin-bottom: 30px;
}
.project_card_text .section_title {
  margin-bottom: 25px;
}

.loc_wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.loc_icon_fill {
  fill: #2C4058;
}

@media screen and (min-width: 768px) {
  .project_card_desc {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .projects {
    margin-bottom: 100px;
    padding-bottom: 40px;
  }

  .project_card {
    display: flex;
    gap: 50px;
    align-items: center;
  }
  .project_card:has(.project_card_media--inverse) {
    flex-direction: row-reverse;
  }

  .project_card_media {
    margin-bottom: 0;
    box-shadow: -240px -65px 0px 0px #55B7FF;
  }
  .project_card_media > img {
    min-width: 500px;
  }

  .project_card_media--inverse {
    box-shadow: 240px -65px 0px 0px #7E5AFF;
  }

  .project_card_content {
    max-width: 470px;
  }
}
@media screen and (min-width: 1440px) {
  .project_card {
    gap: 70px;
  }

  .project_card_media > img {
    min-width: 630px;
  }
}
.news {
  background-image: url("../../../assets/images/news/news_bg.svg");
  position: relative;
  padding: 135px 0 215px;
}
.news::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #55B7FF;
  background: linear-gradient(45deg, #3C7FD4 0%, #55B7FF 100%);
}

.news_carousel__slick .slick-dots {
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 60px;
}

.news_card {
  background-color: #fff;
}
.news_card.slick-slide {
  margin-right: 20px;
}
.news_card__image_wrapper {
  aspect-ratio: 1.55;
  overflow: hidden;
}
.news_card__content_wrapper {
  padding: 30px 20px;
}

.news_card__body {
  margin-bottom: 30px;
}

.news_card__author {
  display: flex;
  align-items: center;
  gap: 20px;
}

.news_card__author-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .news_card__body {
    margin-bottom: 40px;
  }

  .news_card__author-avatar {
    width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .news_card.slick-slide {
    margin-right: 30px;
  }
}
.gallery {
  padding: 100px 0;
}

.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7px;
  margin-bottom: 40px;
}

.gallery__item {
  overflow: hidden;
  cursor: pointer;
}
.gallery__item > img {
  aspect-ratio: 4/3;
}
.gallery__item--large {
  grid-column: span 2;
  grid-row: span 2;
  position: relative;
}

.lg-image {
  width: 80% !important;
  object-fit: cover;
  object-position: center;
}

.gallery__badge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .gallery {
    padding: 125px 0;
  }

  .gallery__wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 60px;
  }

  .gallery__wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .gallery {
    padding: 140px 0;
  }
}
#map {
  height: 65vh;
  width: 100%;
}

.contact {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
}

.contact_form {
  max-width: 650px;
  margin: 60px auto 68px;
  background-color: #fff;
}
.contact_form__input input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #4B5562;
  padding-bottom: 14px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
.contact_form__input input::placeholder {
  color: #4B5562;
}
.contact_form__input input:focus {
  border: none;
  border-bottom: 1px solid #2C4058;
}
.contact_form__list {
  color: #000;
  font-size: 18px;
  line-height: 27px;
}
.contact_form__list li:not(:last-child) {
  margin-bottom: 40px;
}