$bgc: #F6F6F6;
$accent-bgc: #fff;
$title-sub-color: #3C3C3C;
$text-color: #404040;
$accent-color: #18B5DC;
$accent-color-light: #5DCBE6;
$font-stack: "Lato", sans-serif;
$divider-dark: #BDBDBD;
$divider-light: #DDDBDB;
$abt-card-name-text: #282528;
$abt-card-position-text: #646464;