@use "../abstracts/index" as a;

//common
.section_title {
  font-family: a.$font-title;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 34px;
}
.section_title--inverted {
  color: a.$accent-color--light;
}

.section_title--main {
  text-align: center;
  margin-bottom: 40px;
}

.section_subtitle {
  font-family: a.$font-title;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 7px;
}


//hero
.nav_cta {
  font-size: 24px;
  font-family: a.$font-accent;
  color: a.$accent-color--light;
  text-transform: uppercase;
}

.hero_title {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 3.4px; //10%
  margin-bottom: 12px;
}

.hero_subtitle {
  font-size: 18px;
  letter-spacing: 3.4px;
  font-weight: 300;
  margin-bottom: 20px;
}

//projects
.project_desc {
  font-size: 16px;
  line-height: 25px;
}

.loc_txt {
  color: a.$accent-color--dark;
  font-size: 14px;
  font-style: italic;
}


@include a.bp-devices(m-mobile) {
  .hero_title {
    font-size: 26px;
    letter-spacing: 1.4px;
  }

  .hero_subtitle {
    font-size: 13px;
    letter-spacing: normal;
  }
}

@include a.bp-devices(tablet) {
  .section_title {
    font-size: 44px;
  }

  .section_title--main {
    margin-bottom: 90px;
  }

  .section_subtitle {
    font-size: 22px;
  }

  .hero_title {
    font-size: 46px;
  }

  .hero_subtitle {
    letter-spacing: 5.4px;
    margin-bottom: 0;
  }

  .project_desc {
    font-size: 18px;
    line-height: 30px;
  }
}

@include a.bp-devices(s-laptop) {
  .nav_cta {
    font-size: 14px;
  }

  .hero_title {
    font-size: 80px;
    letter-spacing: 8px; //10%
    margin-bottom: 30px;
  }
}