@use "../abstracts/index" as a;

.contact {
  position: relative;
  z-index: 3;
}

.contact_form {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  padding: 60px 25px 68px;
  background-color: a.$bgc;
  background-image: url('../../../assets/images/contact/form_bg.svg');
  background-position: center bottom;
  background-size: 100% auto;
  margin-bottom: 55px;

  &__input {
    &:not(:last-child) {
      margin-bottom: 33px;
    }

    input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid a.$input-subtle;
      padding-bottom: 14px;
      width: 100%;
      font-family: a.$font-title;
      font-size: 18px;

      &::placeholder {
        color: a.$input-subtle;
      }

      &:focus {
        border: none;
        border-bottom: 1px solid a.$text-color;
      }
    }
  }

  &__list {
    color: a.$accent-color--dark;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 40px;

    & li {
      &:not(:last-child) {
        margin-bottom: 40px;
      }

      & i {
        color: a.$accent-bgc2;
      }
    }
  }
}

@include a.bp-devices(tablet) {
  .contact_form {
    padding: 60px 0 68px;

    &__row {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      column-gap: 55px;
    }

    &__list {
      margin-bottom: 0px;
    }
  }
}

@include a.bp-devices(s-laptop) {
  .contact {
    margin-top: -310px;
  }
}

@include a.bp-devices(monitor4k) {
  .contact_form {
    max-width: 1500px;
    padding: 100px 0 110px;

    &__row {
      gap: 110px;
    }

    &__list {
      font-size: 32px;
      line-height: 40px;
    }

    &__input input {
      font-size: 32px;
      padding-bottom: 25px;
    }

    &__input:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}