$bgc: #fff;
$accent-bgc1: #55B7FF;
$accent-bgc2: #7E5AFF;
$accent-bgc3: #3C7FD4;

$text-color: #2C4058;
$accent-color--light: #fff;
$accent-color--dark: #000;

$font-stack: "Open Sans", sans-serif;
$font-title: "Montserrat", sans-serif;
$font-accent: "Source Sans 3", sans-serif;