@use "../abstracts/index" as a;

.button {
  text-transform: uppercase;
  color: a.$accent-color--dark;
  background-color: transparent;
  border: 1px solid a.$text-color;
  transition: all .3s ease;

  &:hover {
    background-color: a.$accent-color--dark;
    color: a.$bgc;
    border: 1px solid transparent;
  }
}

.social-btn,
.hero_arrow_wrapper button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: .5px solid a.$accent-color--light;
  border-radius: 50%;
  text-align: center;
  transition: all .3s ease;

  &:hover,
  &:active {
    transform: scale(1.1);
    box-shadow: 0 5px 5px a.$text-color;
  }

  & > i {
    color: a.$accent-color--light;
    font-size: 15px;
  }
}

.hero_arrow_wrapper button {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.project_card_btn {
  padding: 16px 41px 17px;
  margin-bottom: 60px;
}