@use "../abstracts/index" as a;

//dots
.slick-dots {
  position: absolute;

  & button {
    font-size: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid a.$accent-color--light;
    border-radius: 50%;
    transition: all .3s ease;
  }
}

.slick-active button,
.slick-dots button:hover {
  background-color: a.$accent-color--light;
}

//arrows
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background-color: transparent;
  border: 1px solid a.$accent-color--light;
  border-radius: 50%;
  color: a.$accent-color--light;
}

@include a.bp-devices(s-laptop) {
  .slick-arrow {
    width: 30px;
    height: 30px;
    font-size: 13px;

    &.slick-prev {
      left: -45px;
    }

    &.slick-next {
      right: -45px;
    }
  }
}

@include a.bp-devices(l-laptop) {
  .slick-arrow {
    width: 40px;
    height: 40px;

    &.slick-prev {
      left: -60px;
    }

    &.slick-next {
      right: -60px;
    }
  }
}

@include a.bp-devices(monitor4k) {
  .slick-dots {
    & button {
      width: 20px;
      height: 20px;
    }
  }

  .slick-arrow {
    width: 70px;
    height: 70px;
    font-size: 18px;

    &.slick-prev {
      left: -135px;
    }

    &.slick-next {
      right: -135px;
    }
  }
}