@use '../abstracts/index' as a;

.footer {
  padding: 100px 15px 80px;
  border-top: 1px solid a.$light-blue;
}
.footer_logo {
  margin-bottom: 20px;
}
.footer_content {
  width: 75%;
  margin-right: 0;
  margin-left: auto;
}
.footer_links_wrapper {
  width: 40%;
}
.footer_forms_wrapper {
  width: 35%;
}

@include a.bp-devices(tablet) {
  .footer_content {
    width: 100%;
    flex-direction: column;
    gap: 80px;
  }
  .footer_links_wrapper, .footer_forms_wrapper{
    width: 100%;
  }
  .footer_links_wrapper {
    justify-content: space-evenly;
  }
}