@use '../abstracts/index' as a;

.button {
  color: a.$title-sub-color;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid a.$title-sub-color;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s ease;
}
.header__btn {
  padding: 10px 20px;
}

@include a.bp-devices(tablet) {
  .button {
    font-size: 14px;
  }
  .header__btn {
    padding: 8px 18px;
}
}
@include a.bp-devices(mobile) {
  .header__btn {
    display: none;
  }
}