* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: #edfdff;
  color: white;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  scroll-behavior: smooth;
}
.page_wrapper {
  margin: 0 auto;
  width: 95%;
}

.main_wrapper {
  width: 100%;
  max-width: 1440px;
  background-color: #3399CC;
  border: 25px solid #2B81AC;
  margin: 3em auto;
  padding: 35px 135px 95px;
}
.main_header {
  display: flex;
  gap: 5px;
}
h1 {
  font-size: 21px;
  font-weight: 400;
  margin: 0;
}

.forecast_wrapper {
  background-color: white;
  font-size: 0;
  width: 100%;
  max-width: 1170px;
  margin: 35px auto 35px;
  border: 2px solid #fff;
}
.item {
  display: inline-block;
  font-size: 22px;
  border: 2px solid #fff;
  padding: 26px 0 27px;
  text-align: center;
  width: 25%;
  cursor: url(./icons/cursor.cur), pointer;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
.city_name {
  margin-bottom: 4px;
}
.degs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: rgba(255, 255, 255, .7);
}
.item img {
  height: 61px;
}

.item:nth-child(1n) {
  background-color: rgba(51, 153, 204, 0.7);
}
.item:nth-child(1):hover {
  background-color: rgba(51, 153, 204, 1);
}
.item:nth-child(2n) {
  background-color: rgba(51, 204, 204, 0.7);
}
.item:nth-child(2n):hover {
  background-color: rgba(51, 204, 204, 1);
}
.item:nth-child(3n) {
  background-color: rgba(153, 102, 153, 0.7);
}
.item:nth-child(3):hover {
  background-color: rgba(153, 102, 153, 1);
}
.item:nth-child(4n) {
  background-color: rgba(194, 71, 71, 0.7);
}
.item:nth-child(4n):hover {
  background-color: rgba(194, 71, 71, 1);
}
.item:nth-child(5n) {
  background-color: rgba(226, 103, 74, 0.7);
}
.item:nth-child(5n):hover {
  background-color: rgba(226, 103, 74, 1);
}
.item:nth-child(6n) {
  background-color: rgba(255, 204, 102, 0.7);
}
.item:nth-child(6n):hover {
  background-color: rgba(255, 204, 102, 1);
}
.item:nth-child(7n) {
  background-color: rgba(153, 204, 153, 0.7);
}
.item:nth-child(7n):hover {
  background-color: rgba(153, 204, 153, 1);
}
.item:nth-child(8n) {
  background-color: rgba(102, 153, 153, 0.7);
}
.item:nth-child(8n):hover {
  background-color: rgba(102, 153, 153, 1);
}
.item:nth-child(9n) {
  background-color: rgba(204, 102, 153, 0.7);
}
.item:nth-child(9n):hover {
  background-color: rgba(204, 102, 153, 1);
}
.item:nth-child(10n) {
  background-color: rgba(51, 153, 102, 0.7);
}
.item:nth-child(10n):hover {
  background-color: rgba(51, 153, 102, 1);
}
.item:nth-child(11n) {
  background-color: rgba(102, 102, 153, 0.7);
}
.item:nth-child(11n):hover {
  background-color: rgba(102, 102, 153, 1);
}