* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

img, picture, svg {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button, input, select, textarea {
  font: inherit;
  line-height: inherit;
  margin: 0;
  outline: none;
  border: none;
}

.calc-body {
  width: 300px;
  height: 400px;
  rx: 10px;
  ry: 10px;
}

.credit-card_bg {
  fill: #f0c41b;
}

.magnetic_stripe {
  fill: #806F5E;
}

.card-number-line {
  fill: #F9EAB0;
  rx: 7px;
  ry: 7px;
  height: 13px;
}

.card-nums .cnuml-small:nth-child(odd) {
  width: 20px;
}
.card-nums .cnuml-small:nth-child(even) {
  width: 30px;
}
.card-nums .cnuml-small:last-child {
  width: 13px;
}

.crown {
  fill: none;
  stroke: #000;
  stroke-width: 20px;
  stroke-linejoin: round;
}

.crown_under {
  width: 250px;
  height: 20px;
  fill: #000;
  rx: 10px;
  ry: 10px;
}

.face-emoji {
  fill: #FBD971;
  cy: 200;
  cx: 200;
  r: 200;
}

.eye-closed {
  width: 90px;
  height: 20px;
  rx: 10px;
  ry: 10px;
  fill: #F29C1F;
}

.mouth-closed {
  height: 20px;
  rx: 10px;
  ry: 10px;
  fill: #F0C419;
}

.eye-opened {
  fill: #AF8066;
  r: 32.5;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.svg_imgs {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}