.intro {
  background-image: url(../../../assets/images/intro_bg.jpg);
  object-fit: cover;
  padding: 115px 0;
}
.intro_content_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 110px;
}