@use "../abstracts/index" as a;

.resort {
  padding: 125px 0 125px;
}

.resort_spain {
  background-image: url("../../../assets/images/resort1.jpg");
}

.resort_spain2 {
  background-image: url("../../../assets/images/resort2.jpg");
}

.resort_card {
  padding: 50px 32px;
  background-color: rgba(a.$accent-bgc, .9);
  width: 100%;
  max-width: 545px;
}

.resort_card_inversion {
  margin-right: 0;
  margin-left: auto;
}

@include a.bp-devices(s-laptop) {
  .resort {
    padding: 225px 0 100px;
  }
}